$light-bg-color: rgb(247, 247, 247);
$dark-font: rgb(9, 24, 54);
$blue-font: rgb(92, 216, 233);
$orange-font: rgb(255, 184, 151);
$grey-font: rgb(95, 95, 95);

// mobile 375px; desktop 1000px
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 1.6rem; //16px
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  line-height: 1.4;
}

h1,
h2 {
  font-size: 2.9rem;
  color: $dark-font;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 2rem;
  color: $blue-font;
  margin-bottom: 7px;
}
h4 {
  font-size: 1.8rem;
  color: $orange-font;
  margin-bottom: 7px;
}
p {
  font-size: 1.8rem;
  font-family: "Lora", serif;
  color: $grey-font;
}

a {
  text-decoration: none;
  color: $dark-font;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// content for each section
.content {
  width: 350px;
  margin: auto;
  padding: 20px;
}
.hero-container,
.portfolio-container,
.about-container {
  text-align: left;
}
img {
  width: 300px;
}
.nav-container,
.nav-menu,
.contact-container-icons {
  display: flex;
}

// end of generic css

// nav
.section-nav {
  background-color: $light-bg-color;
  position: fixed;
  top: 0;
  width: 100vw;
}
.nav-container {
  font-size: 1.3rem;
  align-items: center;
}
.nav-container,
.nav-menu-item {
  justify-content: space-between;
}
.nav-logo a {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu-item {
  margin-right: 7px;
}
.nav-menu-item a {
  color: $blue-font;
}

// hero
.section-hero {
  height: 60vh;
  display: flex;
}
.hero-pic img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 2rem;
}
.hero-text-description {
  margin-bottom: 20px;
}
.hero-container-link {
  color: $blue-font;
}

// portfolio intro
.section-portfolio-intro {
  background-color: $light-bg-color;
}
// portfolio

.grouping-container {
  margin-bottom: 30px;
  border-radius: 10px;
}
.grouping-container img {
  margin-top: 15px;
  margin-bottom: 15px;
}
.grouping-container p {
  font-size: 1.4rem;
}

// about
.section-about {
  background-color: $light-bg-color;
}
.about-container p {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

// contact
.contact-container-icons {
  justify-content: center;
}
.contact-container-icon {
  padding: 10px;
}
.contact-container-icons img {
  width: 20px;
}

.contact-container p {
  margin-bottom: 15px;
}

// footer

.section-footer {
  background-color: $light-bg-color;
}

// media queries for desktop
@media (min-width: 850px) {
  // content for each section - generic css
  .content {
    min-width: 750px;
    padding: 30px;
  }
  img {
    width: 350px;
  }

  // nav
  .nav-container {
    font-size: 1.6rem;
  }
  .nav-menu-item {
    margin-right: 20px;
  }

  // hero
  .hero-container {
    display: flex;
    justify-content: center;
  }
  .hero-text {
    width: 400px;
  }
  .hero-container img {
    width: 150px;
    margin-right: 50px;
  }

  // portfolio intro
  .portfolio-intro-container p {
    width: 400px;
    margin: auto;
  }

  // portfolio
  .section-portfolio {
    background-color: $dark-font;
  }
  //  featured app
  .grouping-container {
    background-color: $light-bg-color;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .stacked-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .stacked-containers img {
    margin-right: 40px;
  }
  .heading-featured-app,
  .link-featured-app,
  .heading-hackathon-app,
  .heading-allbirds-homage {
    width: 400px;
    margin: auto;
    text-align: center;
  }

  // skills
  .skills-container-items {
    display: flex;
    justify-content: space-evenly;
  }
}

// color test
// .section-hero,
// .section-contact,
// .section-skills,
// .section-portfolio {
//   background-color: $light-bg-color;
// }
// .section-nav {
//   background-color: rgba(31, 31, 88, 0.651);
// }
