$light-grey: rgb(247, 248, 248);
$dark-grey: rgb(88, 89, 91);
$coral: rgb(230, 84, 70);
$grey-font: rgb(95, 95, 95);

// mobile 375px; ipad 768px; desktop 1000px
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-size: 1.6rem; //16px
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1.4;
}

h1,
h2 {
  font-size: 2.9rem;
  color: $dark-grey;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 2rem;
  color: $dark-grey;
  margin-bottom: 7px;
}
h4 {
  font-size: 1.8rem;
  color: $coral;
  margin-bottom: 7px;
}
h5 {
  color: $dark-grey;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
p {
  font-size: 1.8rem;
  font-family: "Lora", serif;
  color: $grey-font;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// more generic css

// content for each section
.content {
  width: 350px;
  margin: auto;
  padding: 20px;
}
.hero-container,
.portfolio-container,
.portfolio-intro-container,
.about-container {
  text-align: left;
}
.heading {
  margin-bottom: 20px;
}
img {
  width: 300px;
}
.nav-container,
.nav-menu,
.contact-container-icons {
  display: flex;
}
// end of generic css

// main for z-index - otherwise overlaid div images go on top of the nav when scrolling up
main {
  z-index: -1;
}
// nav
.section-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  box-shadow: rgba(244, 244, 245, 0.945) 0px 1px 4px 0px;
  z-index: 1;
}
.nav-container {
  font-size: 1.3rem;
  align-items: center;
}
.nav-container,
.nav-menu-item {
  justify-content: space-between;
}
.nav-logo a {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu-item {
  margin-right: 7px;
}
.nav-menu-item:hover {
  background-color: rgba(153, 154, 214, 0.671);
  padding: 3px;
  transform: skew(0deg, 3deg);
}
.nav-menu-item a {
  color: $dark-grey;
}
.nav-menu-item:nth-child(5) {
  border-bottom: 2px solid $coral;
}

// hero
.section-hero {
  background-color: $light-grey;
  margin: auto;
  height: 500px;
}
.hero-container {
  margin-top: 60px;
}
.hero-container-item {
  margin: auto;
}
.hero-pic img {
  border-radius: 50%;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-description {
  margin-bottom: 30px;
  font-size: 2rem;
}
.hero-container-link {
  border: 2px solid $coral;
  border-radius: 5px;
  width: 250px;
  font-size: 1.5rem;
  text-align: center;
  color: $coral;
  padding: 8px 5px 8px 5px;
}
.hero-container-link:hover,
.skills-container-link:hover {
  background-color: rgba(153, 154, 214, 0.671);
  color: $dark-grey;
  border: none;
}

// portfolio
.grouping-container {
  background-color: $light-grey;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.grouping-container img {
  margin-top: 15px;
  width: 250px;
}
.grouping-container p,
.skills-container p {
  font-size: 1.4rem;
}

// for featured app
.portfolio-container svg {
  margin-top: 20px;
  width: 40px;
}
// for hackathon app
.background {
  margin-top: 20px;
}
// image overlays
.container.overlaid {
  position: relative;
  cursor: pointer;
}
.image-overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(243, 135, 126);
  border-radius: 5px;
}
.container.overlaid:hover .image-overlay {
  opacity: 1;
}
.overlay-text {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container img {
  border-radius: 10px;
}

// skills/what I can do
.skills-heading,
.skills-container-items {
  text-align: left;
}
.skills-container-items {
  background-color: $light-grey;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px;
}
.skills-container-item {
  margin: 20px;
}
.skills-heading p {
  font-size: 1.8rem;
}
.skills-container-link {
  border: 2px solid $coral;
  border-radius: 5px;
  width: 200px;
  font-size: 1.5rem;
  color: $coral;
  padding: 8px 5px 8px 5px;
  margin-top: 20px;
  text-align: center;
}

// about
.about-container {
  background: rgba(153, 154, 214, 0.671);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.219) 0px 7px 29px 0px;
  margin-bottom: 40px;
}
.about-container h2 {
  border-bottom: 2px solid $coral;
  width: 70px;
}
.about-container p {
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: $dark-grey;
}

// contact
.section-contact {
  background-color: white;
  margin-bottom: 40px;
}
.contact-container-icons {
  justify-content: center;
}
.contact-container-icon {
  padding: 10px;
}
.contact-container-icons img {
  width: 20px;
}

.contact-container p {
  margin-bottom: 20px;
  color: $dark-grey;
}
p.email {
  color: rgb(230, 84, 70);
}

// footer
.section-footer {
  background-color: $light-grey;
}
.footer-container p {
  color: $dark-grey;
  font-size: 1.3rem;
}

// media queries for ipad
@media (min-width: 768px) {
  .content {
    width: 650px;
    padding: 30px;
  }
  // nav
  .nav-menu-item {
    margin-right: 20px;
  }
  // hero
  .section-hero {
    height: 490px;
  }
  .hero-container.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-text {
    width: 400px;
    text-align: center;
  }
  .hero-container img {
    margin-top: 30px;
  }
  .hero-container-link {
    margin: auto;
  }
  // portfolio/work
  .stacked-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .stacked-containers img {
    // margin-right: 40px;
    width: 240px;
  }
  .portfolio-container svg {
    margin-top: 0px;
    width: 40px;
  }
  .heading,
  .link-featured-app {
    width: 400px;
    margin: auto;
    text-align: center;
  }
  .description,
  .photo-johnogroats {
    margin-left: 30px;
  }
  .text-hackathon-app {
    text-align: center;
  }
  // portfolio intro
  .portfolio-intro-container p,
  .skills-heading {
    width: 400px;
  }
  // skills
  .skills-container-items {
    text-align: center;
    padding: 20px;
  }
  .skills-container-link {
    margin: auto;
  }
  // contact
  .contact-container p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
// media queries for desktop
@media (min-width: 850px) {
  // content for each section - generic css
  .content {
    width: 750px;
    padding: 30px;
  }
  // nav
  .nav-container {
    font-size: 1.6rem;
  }

  // hero
  .section-hero {
    height: 550px;
  }
  .hero-container.content {
    padding-top: 70px;
  }
  .hero-container img {
    width: 150px;
    margin-top: 0px;
  }

  // portfolio intro
  .portfolio-intro-container p {
    width: 400px;
  }

  // portfolio

  //  portfolio projects - common css
  .grouping-container {
    background-color: $light-grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .stacked-containers img {
    // margin-right: 40px;
    width: 300px;
  }

  // skills

  .skills-heading {
    width: 400px;
  }

  // about
}
